.downloadLink {
    flex: 1;
    width: 100%;
}

button.downloadButton {
    width: 100%;
    cursor: pointer;
    padding: 12px;
    background-color: blue;
    color: azure;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    transition: box-shadow 0.2s ease-in-out;
    font-size: medium;
    font-weight: bold;
    height: 40px;
}

button.downloadButton:hover {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
    background-color: rgb(54, 54, 248)
}

a.downloadButton {
    width: 90%;
}

.ListItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

@media only screen and (max-width: 600px) {
    .ListItem {
      flex-direction: column;
      padding-bottom: 5px; 
    }
}

.date {
    border-radius: 5px;
    background-color: rgba(96, 184, 207, 0.29);
    position: sticky;
    top: 44px;
}